<div class="container">
  <div class="left">
      <h2>List of Farms</h2>
  <ul *ngFor="let farm of farms">
    <li><a [routerLink] = "['farms_details', farm._id]" >{{farm.farm}}</a>
      
    </li>
  </ul></div><div class="left">
      <router-outlet></router-outlet>
  </div>
</div>