
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a [routerLink] = "['farms']" >Go to Farms Eager</a></h2>
    </li>
    <li>
        <h2><a [routerLink] = "['farms_lazy']" >Go to Farms Lazy</a></h2>
      </li>
  </ul>