<!--The content below is only a placeholder and can be replaced.-->

    <h1>
      User Posting Form
    </h1>
      <form [formGroup]="myForm">
        <div class="controls"> <span class="label">Name</span> <input type="text" formControlName="name">
        <div class="error" *ngIf="!myForm.controls['name'].valid">Required</div>
        </div>
        <div class="controls"> <span class="label">Email</span> <input type="text" formControlName="email">
          <div  class="error"  *ngIf="!myForm.controls['email'].valid">Required</div>
        </div>
      
        <div class="controls"> <span class="label">Post</span> 
          <textarea class="controls" formControlName="post"></textarea>
          <div  class="error"  *ngIf="!myForm.controls['post'].valid">Minimum Length 10</div>
        </div>
          <div class="controls"><button type="button" [disabled]= "!myForm.valid"
             (click)="submitData()">Submit</button> <button type="button" (click)="getData()">Get Data</button>
            <div *ngIf="redirecting" class="success">The form is valid, it will redirect in 3s</div>
            <div *ngIf="redirecting" class="success">or you can click Submit</div>
            </div>
      </form>
    
        